* {
    padding: 0;
    margin: 0;
}
.titulo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "red hat display";
    font-size: 60px;
}
body {
    font-family: "be vietnam pro";
    background-color: white !important;
}
.fs-3 {
    font-family: "bayon";
    color: #273758;
}