*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "bayon";
    background-image: url("../imagen/contactanos/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}