
body{
    font-family: "Be vietnam pro";
    background-color: #ECEBEB;
}

.back img{
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
    max-height: 500px;
}
.titulo{
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "red hat display";
    margin-top: -300px;
}
#texto {
    width: 70%;
    margin: 0 auto;
    border-radius: 0 0 50px 50px;
    font-family: 20px;
}
@media screen and (max-width:768px) {
    .titulo{
        font-size: 30px;
        margin-top: -125px;
    }
}