* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url("../imagen/lugaresTuristicos/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-family: "red hat display";
}
@media screen and (max-width:768px) {
    #info {
        width: 100% !important;
    }
}